.bio {
    margin-top: 30px;
    width: 140%;
    display: flex;
    column-gap: 100px;
}

.bio__heading {
    text-align: left;
    margin-top: 100px;
}

.bio__heading-mobile {
    text-align: left;
    margin-top: 80px;
}

.bio__li {
    font-size: large;
    text-align: left;
    padding: 10px;
}

.bio__li-mobile {
    width: 80vw;
    padding: 10px;
    margin-right: 5px;
}

.bio__article {
    display: flex;
    flex-direction: row;
}

.bio__article-mobile {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 90vw;
}

.bio__icon {
    margin-top: 80px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.bio__text {
    width: 40%;
    margin-left: 100px;
}

.bio__text-mobile {
    width: 90%;
    margin-left: 10px;
}

.photo__of__me {
    height: 500px;
    width: 400px;
    text-align: right;
    border-radius: 20px;
    margin-top: 100px;
}

.photo__of__me-mobile {
    height: 400px;
    width: 300px;
    place-items: center;
    border-radius: 20px;
    margin-top: 20px;
}

.ul-mobile {
    width: 100%;
    margin-left: -30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


