body {
    height: 300%;
    font-family: "Inter", serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(320deg, #E6E6FA, #D8BFD8, #DDA0DD, #EE82EE, #DA70D6);
}

header {
    margin-left: -5vw;
    margin-right: -5vw;
    position: fixed;
    width: 90vw;
    padding: 0 5vw 0 5vw;
    background: #BA55D3;
    z-index: 1000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.menu {
    height: 100px;
    width: 50vw;
    align-content: center;
}

header a {
    font-size: 18px;
    font-weight: 500;
    margin-right: 3%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

header a:hover {
    color: blue;
    filter: drop-shadow(0px 0px 50px blue);
}

.btn {
    height: 55px;
    width: 220px;
    border-radius: 55px;
    background: blue;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.btn-mobile {
    height: 55px;
    width: 120px;
    border-radius: 55px;
    background: blue;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 12px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.btn:hover {
    filter: drop-shadow(0px 0px 35px blue);
}

.icon {
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.icon-mobile {
    margin-right: 5px;
    margin-top: 5px;
    height: 35px;
    width: 30px;
    border-radius: 50%;
}

.icons {
    display: flex;
    column-gap: 15px;
    margin-left: 20px;
    margin-right: -180px;
}

.h2-mobile {
    font-size: medium;
}


